.input input {
    width: 40%;
    height: 2.5rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.input label {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}

@media screen and (max-width: 540px){
    .input input {
        width: 70%;
        height: 2rem;
        font-size: 18px;
    }
    .input label {
        font-size: 25px;
    }

}

@media screen and (max-width: 420px){
    .input input {
        width: 60%;
        height: 2rem;
        font-size: 18px;
    }
    .input label {
        font-size: 25px;
    }
}