.card {
    background-color: #2D4059;
    height: 200px;
    width: 225px;
    margin: 1rem;
    border: solid 3px white;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgb(172, 172, 172);
    font-family: 'Catamaran', sans-serif;
    color: white;

}

.card h1 {
    margin: 2px;
    font-size: 35px;
}
.card h2 {
    margin: 2px;
    font-size: 20px;
}
.card h4 {
    margin: 0;
    font-size: 40px;
    color: #FF5722;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF5722;
    letter-spacing: 3px;
}

@media screen and (max-width: 900px){
    .card {
        height: 175px;
        width: 200px;
    }
    .card h1 {
        margin: 2px;
        font-size: 32px;
    }
    .card h2 {
        margin: 2px;
        font-size: 17px;
    }
    .card h4 {
        margin: 0;
        font-size: 37px;
        color: #FF5722;
    }

}
@media screen and (max-width: 540px){
    .card {
        height: 115px;
        width: 130px;
    }
    .card h1 {
        margin: 2px;
        font-size: 20px;
    }
    .card h2 {
        margin: 2px;
        font-size: 12px;
    }
    .card h4 {
        margin: 0;
        font-size: 22px;
        color: #FF5722;
    }

}

@media screen and (max-width: 300px){
    .card {
        height: 90px;
        width: 105px;
    }
    .card h1 {
        margin: 2px;
        font-size: 15px;
    }
    .card h2 {
        margin: 2px;
        font-size: 9px;
    }
    .card h4 {
        margin: 0;
        font-size: 18px;
        color: #FF5722;
    }

}